.column {
  width: 100%;
  background-color: blue;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
    background-color: red;
  }
}
body {
  font-size: 18px;
  font-family: 'Calibri', sans-serif;
}

@media (min-width: 600px) {
  body {
    font-size: 24px;
  }
}

.fondo-seccion {
  height: 50vh; /* La mitad de la altura de la ventana */
  background-image: url('img/fondo7.jpg'); /* Ajusta la imagen de fondo */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texto-central h1 {
  color: #000000; /* Color del texto */
  font-size: 40px; /* Tamaño del texto */
}

.perfil-seccion {
  text-align: center;
  padding: 20px;
}

.marco-circulo {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #000000; /* Ajusta el color del marco */
  width: 200px; /* Ajusta el tamaño del marco y la foto de perfil */
  height: 200px;
  margin-top: -130px; /* Ajusta el margen superior para posicionar más arriba */
}

.marco-circulo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover; /* Para asegurar que la imagen ocupe todo el espacio del marco */
}

/* Estilos para las tres columnas */
/* Estilos para las tres columnas */
.tres-columnasn {
  display: flex;
  justify-content: space-around;
}

/* Estilos generales para cada columna */
.columna {
  width: 30%; /* Ajusta el ancho de cada columna según sea necesario */
  padding: 20px;
  box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto total */
  margin-bottom: 20px;
  color: #000000; /* Color del texto */
}

/* Estilos específicos para la columna de Información */
.columna-info {
  border: 10px solid #000000; /* Color del borde de la columna */
}

/* Estilos específicos para la columna de Contacto */
.columna-contacto {
  border: 10px solid #000000; /* Color del borde de la columna */
}

/* Estilos específicos para la columna de Habilidades */
.columna-habilidades {
  border: 10px solid #000000; /* Color del borde de la columna */
}






/* Estilos para la sección de Parallax */
.parallax {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.parallax-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.parallax-image {
  background-image: url('img/habilidades.jpg');
  background-size: cover;
  background-position: center;
  height: 200vh; /* Doble de la altura de la ventana */
  width: 100%;
  transition: transform 0.3s ease-out;
}


/* Centrar el texto horizontalmente debajo de la animacion parallax */
.titulo1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Tu Tipo de Letra', sans-serif;
  color: #000000;
  font-size: 36px;
  margin-top: 0; /* Eliminar el margen superior predeterminado */
  margin-bottom: 5px;
  line-height: 1.2; /* Ajustar la altura de línea para mejorar el centrado vertical */
}



/* Estilos del menú en la parte superior derecha */
.menu-top {
  position: fixed; /* Mantener el menú en la misma posición mientras se desplaza la página */
  top: 0; /* Anclar el menú en la parte superior */
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para que el texto sea legible */
  padding: 10px; /* Espacio alrededor del contenido del menú */
  z-index: 1000; /* Asegurarse de que el menú esté sobre otros elementos */
  transition: top 0.3s ease; /* Efecto de transición suave */
}

.menu-top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-top li {
  display: inline-block;
  margin-left: 20px;
}

.menu-top a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.menu-top a:hover {
  color: #888;
}



/* Estilos para las barras de animación de carga */
.barra-container {
  display: flex;
  justify-content: space-around;
  background-image: url('img/fondo3.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajustar la imagen al contenedor */
  padding: 20px; /* Añadir espaciado alrededor del contenedor */
  border: 5px solid #000000; /* Marco verde */
  border-radius: 10px; /* Bordes redondeados */
}

.columna1 {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.columna2 {
  display: flex;
  flex-direction: column;
  color: #000000;
}


.barra-item {
  margin-bottom: 20px;
}

.barra-animacion {
  height: 20px;
  width: 0;
  background-color: #fa0000; /* Color inicial de la barra de progreso */
  animation: crecer 10s linear infinite; /* Animación de crecimiento constante e infinita */
}

/* Animación personalizada de crecimiento */
@keyframes crecer {
  to {
    width: var(--porcentaje);
  }
}


/* Estilos para las cuatro columnas */

.cuatro-columnas {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; /* Añade un espacio arriba del bloque de columnas */
}

.columna3 {
  width: 22%; /* Ajusta el ancho de cada columna según sea necesario */
  padding: 20px;
  color: #ffffff;

}

/* Estilos para el contenedor de las cuatro columnas con fondo de imagen y marco */
.contenedor-cuatro-columnas {
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
  border: 5px solid #000000; /* Borde negro */
  margin-top: 10px;
}



/* Estilos para el contenedor final con fondo de imagen */
.contenedor-final {
  background-image: url('img/fondo17.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  text-align: center; /* Alineación del contenido al centro */
}

/* Estilos para el título de la sección final */
.titulo-final {
  color: #ffffff;
  font-size: 24px;
}

/* Estilos para las tres columnas en la sección final */
.tres-columnas-final {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.columna-final {
  width: 30%; /* Ajusta el ancho de cada columna según sea necesario */
  padding: 20px;
  color: #ffffff;
}


.contenedor-titulo-imagen {
  text-align: center;
}

.titulo-centrado {
  color: #000000;
  font-size: 24px;
}

.imagen-movimiento {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 200px; /* Ancho del contenedor */
  height: 200px; /* Altura del contenedor */
}

.imagen-mediana {
  width: 100%; /* Ancho de la imagen */
  height: auto; /* Altura automática */
}
.centered-image {
  width: 500px; /* Ancho deseado de la imagen */
  height: 300px; /* Altura deseada de la imagen */
  display: block;
  margin: 0 auto; /* Centrar la imagen horizontalmente */
  object-fit: cover; /* Escalar la imagen para que llene el contenedor sin distorsionarla */
}
.center-content {
  text-align: center; /* Centrar el texto dentro del contenedor */
}

/* botone de ver y descargar cv */

.cv-buttons {
  text-align: center;
  margin-top: 20px; /* Espacio entre los botones y el contenido */
}

.cv-buttons button {
  padding: 10px 20px;
  margin: 0 10px; /* Espacio entre los botones */
  font-size: 16px;
  cursor: pointer;
}

/* botones flotantes */
.botones-flotantes {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}

.boton {
  display: block;
  width: 100px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.boton1 {
  background-color: #007bff; /* Color para el botón 1 */
}

.boton2 {
  background-color: #28a745; /* Color para el botón 2 */
}

.boton3 {
  background-color: #dc3545; /* Color para el botón 3 */
}

.boton:hover {
  opacity: 0.8; /* Cambia la opacidad al pasar el ratón por encima */
}



.estudiante {
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Texto en negrita */
  color: #000000; /* Color rojo para el texto */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
  text-shadow: 1px 1px 2px #000000; /* Sombra de texto */
}

.unico {
  font-size: 24px; /* Tamaño de la fuente */
  font-weight: bold; /* Texto en negrita */
  color: #0000ff; /* Color azul para el texto */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
  text-shadow: 1px 1px 2px #000000; /* Sombra de texto */
}
